<!-- templates/signup.html -->

{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Регистрация пользователя</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}.
                <!-- Перейдите по <a href="{{ url_for('auth.login') }}">ссылке</a>. -->
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/signup">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Your email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="name" placeholder="Your name" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Your password">
                </div>
            </div>

              <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="client_id" placeholder="Your Client ID" {% if request.args.get('client_id') %} value="{{ request.args.get('client_id') }}" {% endif %}>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="accounts" placeholder="Your accounts" {% if request.args.get('client_id') %} value="{{ request.args.get('accounts') }}" {% endif %}>
                </div>
            </div>

            <div class="field">
                <label class="input is-large" for="role_id">Выбрать роль</label>
<select class="input is-large" name="role_id" placeholder="Your role">
    <option value="1">Мастер-пользователь</option>
  <option value="2">Менеджер</option>
  <option value="3">Логист</option>
</select>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Создать пользователя</button>
        </form>
    </div>
</div>
{% endblock %}